<footer class="footer bg-secondary mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="w-50 d-flex align-items-center justify-content-around mx-auto">
          <!-- Facebook -->
          <a class="icon">
            <i class="fa fa-facebook fa-lg text-white fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="icon">
            <i class="fa fa-twitter fa-lg text-white fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="icon">
            <i class="fa fa-google-plus fa-lg text-white fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="icon">
            <i class="fa fa-linkedin fa-lg text-white fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="icon">
            <i class="fa fa-instagram fa-lg text-white fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="icon">
            <i class="fa fa-pinterest fa-lg text-white fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center text-white py-3">© 2018 Copyright:
    <a href="/" class="text-info"> Fotobattle.me</a>
  </div>
</footer>
